* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


body {
  background-color: #0B1F33;
  color: #111;
  transition: background-color 0.4s, color 0.4s;
}

header {
  background-color: #0B1F33;
  color: white;
  transition: background-color 0.4s, color 0.4s;
}

/* ====== Toggle Switch ====== */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#dk {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  transition: 0.4s;
  border-radius: 24px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:checked+.slider::before {
  transform: translateX(26px);
}

.toggle-container .icon {
  font-size: 18px;
}



/* Header */
header {
  width: 100%;
  padding: 20px 50px;
  background: #112B45;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilo do switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  transition: 0.4s;
  border-radius: 24px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Quando ativado */
input:checked+.slider {
  background-color: #110f08;
}

input:checked+.slider::before {
  transform: translateX(26px);
}

/* Ícones */
.toggle-container .icon {
  font-size: 18px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 2px;
  color: #fff;
}

.fall-text {
  display: inline-block;
  font-size: 1.2rem;
  color: #ccc;
}

.fall-text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-50px);
  animation: fall 0.8s forwards;
}

@keyframes fall {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00BFFF;
}

/* Menu Mobile */
.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 50px;
    background: #112B45;
    padding: 20px;
    border-radius: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .toggle-container {
    display: none;
  }

  .switch {
    display: flex;
    gap: 11px;
  }

  #hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }


  #dk {
    display: block;
  }
}

/* Hero */
#hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 10%;
}

.hero-text {
  max-width: 600px;
}

.hero-img img {

  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #080c0e;
}

/* Animação de flutuar */
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-img img.float {
  animation: float 5s ease-in-out infinite;
}


.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero-text h1 span {
  color: #00BFFF;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #ccc;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  background: #00BFFF;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.3s;
}

.btn:hover {
  background: #008CBA;
}

.btn-alt {
  background: #333;
}


/* SOBRE MIM */
#about {
  padding: 80px 10%;
  text-align: center;
  background: #f9f9f9;
  color: #333;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

#about p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* HABILIDADES */
#skills {
  padding: 80px 10%;
  text-align: center;
  background: #fff;
}

#skills h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: white;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skills-grid :hover {
  color: #00BFFF
}

.skill-card {
  background: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

/* PROJETOS */
#projects {
  padding: 80px 10%;
  background: #0B1F33;
  color: #fff;
  text-align: center;
}

#projects h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #112B45;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  border-left: 5px solid #00BFFF;
}

/* FORMAÇÃO */
#education {
  padding: 80px 10%;
  background: #f9f9f9;
  text-align: center;
  color: #333;
}

#education h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.timeline {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;

}

.timeline li {
  margin-bottom: 20px;
  padding: 15px;
  background: #eee;
  border-left: 5px solid #00BFFF;
  border-radius: 5px;

}

/* ============================= */
/* CONTATO */
#contact {
  padding: 80px 10%;
  background: #0B1F33;
  color: #fff;
  text-align: center;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.contact-card {
  background: #112B45;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s, background 0.3s;
}

.contact-card h3 {
  margin-bottom: 10px;
  color: #00BFFF;
}

.contact-card p {
  font-size: 1rem;
}

.contact-card a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-card a:hover {
  color: #00BFFF;
}

.contact-card:hover {
  transform: translateY(-5px);
  background: #154069;
}

/* Botão Dark Mode */
#darkModeToggle {
  margin-left: 15px;
  padding: 8px 12px;
  border: none;
  background: var(--secondary-color);
  color: var(--text-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#darkModeToggle:hover {
  background: var(--primary-color);
  color: var(--bg-color);
}

#darkModeToggle1 {
  margin-left: 15px;
  padding: 8px 12px;
  border: none;
  background: var(--secondary-color);
  color: var(--text-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#darkModeToggle1:hover {
  background: var(--primary-color);
  color: var(--bg-color);
}

body.dark-mode {
  background-color: #111;
  color: #f5f5f5;
}

body.dark-mode header {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

body.dark-mode #hero {
  background-color: #111;
  color: #f5f5f5;
}

body.dark-mode #about {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

body.dark-mode #skills {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

body.dark-mode .skill-card {
  background-color: #222;
  color: #f5f5f5;
  border: 1px solid #444;
}

body.dark-mode .skill-card:hover {
  color: #00BFFF;
}

body.dark-mode #projects {
  background-color: #111;
  color: #f5f5f5;
}

body.dark-mode .project-card {
  background-color: #222;
  color: #f5f5f5;
  border-left: 5px solid #00BFFF;
}

body.dark-mode #education {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

body.dark-mode .timeline li {
  background-color: #222;
  color: #f5f5f5;
  border-left: 5px solid #00BFFF;
}

body.dark-mode #contact {
  background-color: #111;
  color: #f5f5f5;
}

body.dark-mode .contact-card {
  background-color: #222;
  color: #f5f5f5;
  border: 1px solid #444;
}

body.dark-mode .contact-card a {
  color: #00BFFF;
}

body.dark-mode .contact-card:hover {
  background-color: #154069;
}

body.dark-mode .btn {
  background-color: #00BFFF;
  color: #fff;
}

body.dark-mode .btn-alt {
  background-color: #333;
  color: #fff;
}

/* ====== Dark Mode ====== */
body.dark-mode {
  background-color: #111;
  color: #f5f5f5;
}

body.dark-mode header {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

body.dark-mode .card {
  background-color: #222;
  color: #f5f5f5;
  border: 1px solid #444;
}

footer {
  background: black;
  color: #ccc;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

body.dark-mode .nav-links {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

#btnIdioma {
  border-color: transparent;
  background-color: transparent;
  font-size: 1.em;
}

